/* Green */
/**
 * Variables
 */
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Animations
 */
@-webkit-keyframes spin-360 {
  from {
    -webkit-transform: rotate(0);
    /* Saf3.1+, Chrome */
  
    -moz-transform: rotate(0);
    /* FF3.5+ */
  
    -ms-transform: rotate(0);
    /* IE9 */
  
    -o-transform: rotate(0);
    /* Opera 10.5 */
    transform: rotate(0);
    zoom: 1;
  }
  50% {
    -webkit-transform: rotate(180deg);
    /* Saf3.1+, Chrome */
  
    -moz-transform: rotate(180deg);
    /* FF3.5+ */
  
    -ms-transform: rotate(180deg);
    /* IE9 */
  
    -o-transform: rotate(180deg);
    /* Opera 10.5 */
    transform: rotate(180deg);
    zoom: 1;
  }
  to {
    -webkit-transform: rotate(0);
    /* Saf3.1+, Chrome */
  
    -moz-transform: rotate(0);
    /* FF3.5+ */
  
    -ms-transform: rotate(0);
    /* IE9 */
  
    -o-transform: rotate(0);
    /* Opera 10.5 */
    transform: rotate(0);
    zoom: 1;
  }
}
body {
  background: #f0f0f0;
  color: #8b8b8b;
}
hr {
  background-color: #eeeeee;
}
/* 1.2 Hyperlinks */
a {
  color: #a3b18d;
}
a:hover {
  color: #818f6b;
}
/* 1.4 Tables */
table {
  border: 1px solid #eeeeee;
  background: #fafafa;
  box-shadow: 0 1px 2px 0 #ffffff;
  -webkit-box-shadow: 0 1px 2px 0 #ffffff;
}
table td,
table th {
  border-right: 1px dotted #eeeeee;
}
table thead th {
  background: #fff;
  border-right: 1px dotted #e9e9e9;
  border-bottom: 1px solid #eeeeee;
}
table tbody th {
  background: #fff;
  border-bottom: 1px solid #eeeeee;
}
table tbody tr:nth-child(2n) td {
  background: #fafafa;
  border-right: 1px dotted #e9e9e9;
}
table tbody td {
  background: #f6f6f6;
  border-bottom: 1px solid #eeeeee;
}
ul.nav li.current_page_item a,
ul.nav li.current_page_parent a,
ul.nav li.current-menu-ancestor a,
ul.nav li.current-cat a,
ul.nav li.li.current-menu-item a {
  color: #e0b900;
}
/* 2.3 Header */
#header {
  background: url('green/bg_header.png') #677847;
}
#header #fixed-header.fixed {
  background: url('green/bg_header.png') #677847;
}
#header .site-title,
#header .site-description {
  color: #000;
}
#header .site-title a,
#header .site-description a {
  color: #585858;
}
#header .nav-toggle {
  float: right;
  cursor: pointer;
  margin: 0;
}
#header .nav-toggle:after {
  background: #e0b900;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
}
#header .site-description {
  color: #a4a4a4;
}
#header #header-contact ul.nav li.phone {
  color: #FFFFFF;
  background: url('green/ico-phone.png') no-repeat left bottom;
}
#header #header-contact ul.nav li.phone span {
  color: #D7D7D7;
}
/* 2.4.1 Slider */
#featured-slider {
  background: url('green/bg_header.png') #677847;
}
#featured-slider ul.slides li .slide-content header h1 {
  color: #ffffff;
}
#featured-slider ul.slides li .slide-content header h1 a {
  color: #ffffff;
}
#featured-slider ul.slides li .slide-content .entry {
  color: #dedede;
}
#featured-slider .flex-control-nav li {
  border: 3px solid rgba(0, 0, 0, 0.3);
}
#featured-slider .flex-control-nav li a {
  border: 5px solid #000;
  background: #000;
  cursor: pointer;
}
#featured-slider .flex-control-nav li a:hover {
  background: #fafafa;
}
#featured-slider .flex-control-nav li a.flex-active {
  background: #fafafa;
}
#featured-slider .flex-direction-nav a {
  background-image: url('green/bg_direction_nav.png');
}
/* 2.6 Footer */
#footer-wrapper {
  background: #55613e;
  color: #E4E4E4;
}
#footer {
  color: #E4E4E4;
}
#footer a {
  color: #e0b900;
}
#footer-widgets {
  padding: 0;
  color: #E4E4E4;
}
#footer-widgets h1,
#footer-widgets h2,
#footer-widgets h3,
#footer-widgets h4,
#footer-widgets h5,
#footer-widgets h6 {
  color: #fff;
}
#footer-widgets a {
  color: #E4E4E4;
}
#footer-widgets .widget {
  box-shadow: 0 0 0 0 #888888;
  -webkit-box-shadow: 0 0 0 0 #888888;
  border-color: #475134;
}
#footer-widgets .widget ul li {
  border-bottom: 1px dashed #778360;
}
#footer-widgets .widget_woodojo_tweets ul li .time-ago a {
  color: #99a582;
}
#footer-widgets .widget_woodojo_tweets .follow-link {
  background: #778360;
}
#footer-widgets .widget_woodojo_instagram img {
  border: 4px solid #778360;
}
#footer-widgets .widget_woodojo_twitterprofile img {
  border: 4px solid #778360;
}
#footer-widgets .widget_woodojo_twitterprofile .stats {
  border-color: #778360;
}
#footer-widgets .widget_woodojo_twitterprofile .stats p {
  border-color: #778360;
}
#footer-widgets .widget_woodojo_twitterprofile .tweeting-since {
  border-color: #778360;
}
#footer-widgets .widget_woodojo_twitterprofile .follow-link {
  background: #778360;
}
#footer-widgets .widget_woodojo_instagram_profile img {
  border: 4px solid #778360;
}
#footer-widgets .widget_woodojo_instagram_profile .stats {
  border-color: #778360;
}
#footer-widgets .widget_woodojo_instagram_profile .stats p {
  border-color: #778360;
}
#footer-widgets .widget_woodojo_tabs ul.nav-tabs {
  border-bottom: 1px solid #778360;
}
#footer-widgets .widget_woodojo_tabs ul.nav-tabs li.active a {
  border: 1px solid #778360;
  border-width: 1px 1px 0 1px;
}
#footer-widgets .widget_woodojo_tabs .tabbable .tab-pane ul li img {
  border: 4px solid #778360;
}
#footer-widgets .widget_woodojo_tabs .tabbable .tab-pane ul li .meta {
  color: #99a582;
}
#footer-widgets .widget_woo_flickr a img {
  border: 4px solid #778360;
}
#footer-widgets .widget_woo_flickr a:hover img {
  border-color: #3a422a;
}
#footer-widgets .widget_woo_blogauthorinfo .avatar {
  border: 4px solid #778360;
}
#footer-widgets #connect .social a {
  color: #778360;
}
#footer-widgets .widget_woothemes_testimonials .quote {
  border-bottom: 1px dashed #778360;
}
#footer-widgets .widget_woothemes_testimonials .avatar-link {
  border: 4px solid #778360;
}
#footer-widgets .widget_woothemes_features .feature {
  border-bottom: 1px dashed #778360;
}
#footer-widgets .widget_calendar table#wp-calendar {
  border-color: #778360;
}
#footer-widgets .widget_calendar table#wp-calendar td,
#footer-widgets .widget_calendar table#wp-calendar th {
  border-color: #778360;
}
#footer-widgets .widget_calendar table#wp-calendar th {
  background: #778360;
}
#footer-widgets .widget_calendar table#wp-calendar tfoot #prev,
#footer-widgets .widget_calendar table#wp-calendar tfoot #next,
#footer-widgets .widget_calendar table#wp-calendar tfoot .pad {
  border-color: #778360;
}
/* 2.7 Breadcrumbs */
#breadcrumbs {
  margin-bottom: 1.618em;
}
/*-------------------------------------------------------------------------------------------*/
/* 3. POSTS */
/*-------------------------------------------------------------------------------------------*/
.archive-header {
  border-bottom: #eeeeee 1px solid;
}
.inner {
  border: 1px solid #eeeeee;
}
.post,
.type-page,
.type-feature,
.type-testimonial,
.search-results .page,
.search-results .type-product,
.search-results .type-feature,
.search-results .type-testimonial {
  background: #ffffff;
  box-shadow: 0 0 5px 0 #cccccc;
  -webkit-box-shadow: 0 0 5px 0 #cccccc;
  /* 3.1 Images */

}
.post header,
.type-page header,
.type-feature header,
.type-testimonial header,
.search-results .page header,
.search-results .type-product header,
.search-results .type-feature header,
.search-results .type-testimonial header {
  border: 1px dashed #dddddd;
  border-width: 0 0 1px 0;
}
.post header h1 a:link,
.type-page header h1 a:link,
.type-feature header h1 a:link,
.type-testimonial header h1 a:link,
.search-results .page header h1 a:link,
.search-results .type-product header h1 a:link,
.search-results .type-feature header h1 a:link,
.search-results .type-testimonial header h1 a:link,
.post header h1 a:visited,
.type-page header h1 a:visited,
.type-feature header h1 a:visited,
.type-testimonial header h1 a:visited,
.search-results .page header h1 a:visited,
.search-results .type-product header h1 a:visited,
.search-results .type-feature header h1 a:visited,
.search-results .type-testimonial header h1 a:visited {
  color: #4b4b4b;
}
.post .post-meta,
.type-page .post-meta,
.type-feature .post-meta,
.type-testimonial .post-meta,
.search-results .page .post-meta,
.search-results .type-product .post-meta,
.search-results .type-feature .post-meta,
.search-results .type-testimonial .post-meta {
  color: #bebebe;
}
.post .post-meta ul li a,
.type-page .post-meta ul li a,
.type-feature .post-meta ul li a,
.type-testimonial .post-meta ul li a,
.search-results .page .post-meta ul li a,
.search-results .type-product .post-meta ul li a,
.search-results .type-feature .post-meta ul li a,
.search-results .type-testimonial .post-meta ul li a {
  color: #585858;
}
.post .post-meta ul li .sep,
.type-page .post-meta ul li .sep,
.type-feature .post-meta ul li .sep,
.type-testimonial .post-meta ul li .sep,
.search-results .page .post-meta ul li .sep,
.search-results .type-product .post-meta ul li .sep,
.search-results .type-feature .post-meta ul li .sep,
.search-results .type-testimonial .post-meta ul li .sep {
  color: #585858;
}
.post .date-badge,
.type-page .date-badge,
.type-feature .date-badge,
.type-testimonial .date-badge,
.search-results .page .date-badge,
.search-results .type-product .date-badge,
.search-results .type-feature .date-badge,
.search-results .type-testimonial .date-badge {
  background-color: #a3b18d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a3b18d), to(#818f6b));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #a3b18d, #818f6b);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #a3b18d, #818f6b);
  /* FF3.6+ */

  background-image: -ms-linear-gradient(top, #a3b18d, #818f6b);
  /* IE10 */

  background-image: -o-linear-gradient(top, #a3b18d, #818f6b);
  /* Opera 11.10+ */

  background-image: linear-gradient(to bottom, #a3b18d, #818f6b);
}
.post .date-badge span,
.type-page .date-badge span,
.type-feature .date-badge span,
.type-testimonial .date-badge span,
.search-results .page .date-badge span,
.search-results .type-product .date-badge span,
.search-results .type-feature .date-badge span,
.search-results .type-testimonial .date-badge span {
  color: #fff;
}
.post .post-more .read-more a,
.type-page .post-more .read-more a,
.type-feature .post-more .read-more a,
.type-testimonial .post-more .read-more a,
.search-results .page .post-more .read-more a,
.search-results .type-product .post-more .read-more a,
.search-results .type-feature .post-more .read-more a,
.search-results .type-testimonial .post-more .read-more a {
  background: #e0b900;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}
.post .post-more .read-more a:hover,
.type-page .post-more .read-more a:hover,
.type-feature .post-more .read-more a:hover,
.type-testimonial .post-more .read-more a:hover,
.search-results .page .post-more .read-more a:hover,
.search-results .type-product .post-more .read-more a:hover,
.search-results .type-feature .post-more .read-more a:hover,
.search-results .type-testimonial .post-more .read-more a:hover {
  background: #be9700;
}
.post .entry blockquote,
.type-page .entry blockquote,
.type-feature .entry blockquote,
.type-testimonial .entry blockquote,
.search-results .page .entry blockquote,
.search-results .type-product .entry blockquote,
.search-results .type-feature .entry blockquote,
.search-results .type-testimonial .entry blockquote {
  background: rgba(224, 185, 0, 0.13);
  border: 1px solid #e6e6e6;
  color: #2e2600;
}
.post .entry blockquote:before,
.type-page .entry blockquote:before,
.type-feature .entry blockquote:before,
.type-testimonial .entry blockquote:before,
.search-results .page .entry blockquote:before,
.search-results .type-product .entry blockquote:before,
.search-results .type-feature .entry blockquote:before,
.search-results .type-testimonial .entry blockquote:before {
  color: #e0b900;
}
.post img,
.type-page img,
.type-feature img,
.type-testimonial img,
.search-results .page img,
.search-results .type-product img,
.search-results .type-feature img,
.search-results .type-testimonial img,
.post img.thumbnail,
.type-page img.thumbnail,
.type-feature img.thumbnail,
.type-testimonial img.thumbnail,
.search-results .page img.thumbnail,
.search-results .type-product img.thumbnail,
.search-results .type-feature img.thumbnail,
.search-results .type-testimonial img.thumbnail {
  border: 1px solid #eeeeee;
  background: #fff;
}
.post .wp-caption,
.type-page .wp-caption,
.type-feature .wp-caption,
.type-testimonial .wp-caption,
.search-results .page .wp-caption,
.search-results .type-product .wp-caption,
.search-results .type-feature .wp-caption,
.search-results .type-testimonial .wp-caption {
  background: #fafafa;
  border: 1px solid #eeeeee;
}
/* 3.2 Pagination / WP-Pagenavi / Woo-Pagination */
.nav-entries a {
  color: #8b8b8b;
}
.woo-pagination .page-numbers {
  color: #fff;
  background: #d1d1d1;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}
.woo-pagination .page-numbers:hover {
  background: #cfcfcf;
}
.woo-pagination .page-numbers.current {
  background: #cacaca;
}
/* 3.3 Single Post Author */
#post-author {
  background: #fff;
  border-top: 1px solid #eeeeee;
  box-shadow: 0 0 5px 0 #cccccc;
  -webkit-box-shadow: 0 0 5px 0 #cccccc;
}
#post-author .profile-image {
  border: 1px solid #eeeeee;
  background: rgba(255, 255, 255, 0.7);
}
/* 3.4 Post Entry Nav */
#post-entries a {
  color: #fff;
  background: #d1d1d1;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}
#post-entries a:hover {
  background: #c7c7c7;
}
/* 3.5 Connect */
#connect {
  background: #fafafa;
  border-top: 1px solid #eeeeee;
  box-shadow: 0 0 5px 0 #cccccc;
  -webkit-box-shadow: 0 0 5px 0 #cccccc;
}
#connect .related-posts {
  border-left: 1px solid #eeeeee;
}
#connect .social a {
  color: #8b8b8b;
}
#connect .social a:hover {
  color: #e0b900;
}
#connect .social a:before {
  color: #fff;
}
/* 3.6 Connect Footer */
#bottom-social-connect {
  background: #272c1c;
  border-bottom: 1px solid #778360;
}
#bottom-social-connect ul li a {
  border: 1px solid #66724f;
  border-width: 0 1px 0 0;
  color: #e0b900;
}
#bottom-social-connect ul li a:before {
  color: #a3b18d;
}
/*-------------------------------------------------------------------------------------------*/
/* 4. WIDGETS */
/*-------------------------------------------------------------------------------------------*/
/* 4.1 Generic Widgets */
.widget {
  background: #ffffff;
  box-shadow: 0 0 5px 0 #cccccc;
  -webkit-box-shadow: 0 0 5px 0 #cccccc;
}
.widget h3 {
  color: #4b4b4b;
  border-bottom: 1px dashed #dddddd;
}
/* 4.2 Specific Widgets */
/* SEARCH FORM */
#searchform {
  background: #eeeeee;
  border-color: #e1e1e1;
}
#searchform .s,
#searchform #s {
  color: #b1b1b1;
}
#searchform .search-submit,
#searchform #searchsubmit {
  background: url('green/ico-search.png') no-repeat left top;
}
#searchform .search-submit:hover,
#searchform #searchsubmit:hover {
  background: url('green/ico-search.png') no-repeat left top;
}
/* FLICKR */
.widget_woo_flickr h3 span {
  color: #0051d8;
}
.widget_woo_flickr h3 span span {
  color: #ff1183;
}
.widget_woo_flickr a img {
  border: 1px solid #eeeeee;
}
.widget_woo_flickr a:hover img {
  border-color: #d5d5d5;
}
/* INSTAGRAM */
.widget_woodojo_instagram img {
  border: 1px solid #eeeeee;
}
/* CALENDAR */
#wp-calendar th,
#wp-calendar td {
  background: #e1e1e1;
}
#wp-calendar td {
  color: #a4a4a4;
}
/* BLOG AUTHOR */
.widget_woo_blogauthorinfo .avatar {
  border: 1px solid #eeeeee;
}
.widget_woo_blogauthorinfo a.read-more {
  background: #e0b900;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}
/* TWITTER */
.widget_woo_twitter .back {
  background: #fafafa;
  -webkit-border-radius: 0.327em;
  border-radius: 0.327em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.widget_woo_twitter ul {
  background: #fff;
  border: 1px solid #eeeeee;
}
.widget_woo_twitter ul li {
  border-bottom: 1px solid #eeeeee;
}
.widget_woo_twitter ul li .time {
  color: #a4a4a4;
}
.widget_woo_twitter p {
  font-weight: bold;
  color: #a4a4a4;
}
.widget_woo_twitter p a {
  color: #585858;
}
/* WOOTABS */
.widget_woodojo_tabs ul.nav-tabs,
.woocommerce_tabs ul.nav-tabs,
.widget_woodojo_tabs ul.tabs,
.woocommerce_tabs ul.tabs {
  border-bottom: 1px dashed #dddddd;
}
.widget_woodojo_tabs ul.nav-tabs li a,
.woocommerce_tabs ul.nav-tabs li a,
.widget_woodojo_tabs ul.tabs li a,
.woocommerce_tabs ul.tabs li a {
  color: #a3b18d;
}
.widget_woodojo_tabs ul.nav-tabs li a:hover,
.woocommerce_tabs ul.nav-tabs li a:hover,
.widget_woodojo_tabs ul.tabs li a:hover,
.woocommerce_tabs ul.tabs li a:hover {
  color: #bebebe;
}
.widget_woodojo_tabs ul.nav-tabs li a:after,
.woocommerce_tabs ul.nav-tabs li a:after,
.widget_woodojo_tabs ul.tabs li a:after,
.woocommerce_tabs ul.tabs li a:after {
  color: #bebebe;
}
.widget_woodojo_tabs ul.nav-tabs li.active,
.woocommerce_tabs ul.nav-tabs li.active,
.widget_woodojo_tabs ul.tabs li.active,
.woocommerce_tabs ul.tabs li.active {
  position: relative;
}
.widget_woodojo_tabs ul.nav-tabs li.active a,
.woocommerce_tabs ul.nav-tabs li.active a,
.widget_woodojo_tabs ul.tabs li.active a,
.woocommerce_tabs ul.tabs li.active a {
  background: #fff;
  color: #4b4b4b;
}
.widget_woodojo_tabs .tabbable .tab-pane ul li a,
.woocommerce_tabs .tabbable .tab-pane ul li a {
  color: #8b8b8b;
}
.widget_woodojo_tabs .tabbable .tab-pane ul li img,
.woocommerce_tabs .tabbable .tab-pane ul li img {
  border: 1px solid #e1e1e1;
}
.widget_woodojo_tabs .tabbable .tab-pane ul li .meta,
.woocommerce_tabs .tabbable .tab-pane ul li .meta,
.widget_woodojo_tabs .tabbable .tab-pane ul li .comment-content,
.woocommerce_tabs .tabbable .tab-pane ul li .comment-content {
  color: #bebebe;
}
.widget_woothemes_testimonials .quote {
  border-bottom: 1px dashed #dddddd;
}
.widget_woothemes_testimonials .quote .author {
  color: #e0b900;
}
.widget_woothemes_testimonials .avatar-link {
  border: 1px solid #e1e1e1;
}
.widget_woothemes_features .feature {
  border-bottom: 1px dashed #dddddd;
}
.entry .widget_woothemes_testimonials .quote blockquote {
  color: #8b8b8b;
}
.entry .widget_woothemes_testimonials .quote .author {
  color: #8b8b8b;
}
.widget_woodojo_tweets ul li .time-ago {
  color: #bebebe;
}
.widget_woodojo_tweets ul li .time-ago a {
  color: #bebebe;
}
.widget_woodojo_tweets .follow-link {
  border-top: 1px solid #eeeeee;
}
.widget_woodojo_instagram_profile img {
  border: 1px solid #e1e1e1;
}
.widget_woodojo_instagram_profile .profile-box .stats {
  border: 1px dashed #dddddd;
}
.widget_woodojo_instagram_profile .profile-box .stats p {
  border-right: 1px dashed #dddddd;
}
.widget_woodojo_twitterprofile img {
  border: 1px solid #e1e1e1;
}
.widget_woodojo_twitterprofile .stats {
  border: 1px dashed #dddddd;
}
.widget_woodojo_twitterprofile .stats p {
  border-right: 1px dashed #dddddd;
}
.widget_woodojo_twitterprofile .tweeting-since {
  border: 1px dashed #dddddd;
}
/*-------------------------------------------------------------------------------------------*/
/* 5. COMMENTS */
/*-------------------------------------------------------------------------------------------*/
/* 5.1 Comments */
#comments {
  background: #ffffff;
  box-shadow: 0 0 5px 0 #cccccc;
  -webkit-box-shadow: 0 0 5px 0 #cccccc;
}
#comments h3 {
  border-bottom: 1px dashed #dddddd;
}
#comments .comment .comment-container {
  border-bottom: 1px dashed #dddddd;
}
#comments .comment .comment-head .name {
  color: #e0b900;
}
#comments .comment .comment-head .name a {
  color: #e0b900;
}
#comments .comment .avatar img {
  background: #fff;
}
#comments .comment .reply a {
  color: #333 !important;
}
#comments .comment .reply a:hover {
  color: #666 !important;
}
/* 5.2 Comments Form */
#respond-outer {
  background: #ffffff;
  box-shadow: 0 0 5px 0 #cccccc;
  -webkit-box-shadow: 0 0 5px 0 #cccccc;
}
#respond {
  border: 1px solid #eeeeee;
}
#respond h3 {
  border-bottom: 1px dashed #dddddd;
}
#respond label {
  color: #a4a4a4;
}
/*-------------------------------------------------------------------------------------------*/
/* 6. PAGE TEMPLATES */
/*-------------------------------------------------------------------------------------------*/
/* 6.1 Timeline Page Template */
#archives .archives_list {
  border-left: 1px solid #eeeeee;
}
#archives .archives_list .date {
  color: #a4a4a4;
}
#archives .archives_list .comments a {
  color: #b1b1b1;
}
h3.archive_year {
  color: #8b8b8b;
}
.page-template-template-contact-php .location-twitter {
  border-bottom: 1px solid #eeeeee;
}
.page-template-template-contact-php .location-twitter .contact-social #twitter ul li a.time {
  color: #b1b1b1;
}
.page-template-template-contact-php .location-twitter .contact-social #connect {
  border-top: 1px solid #eeeeee;
}
/* 6.3 Image Gallery */
#main div.gallery dl.gallery-item img {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.image-gallery-item img {
  border: 1px solid #e1e1e1;
  background: #fafafa;
}
.image-gallery-item img:hover {
  border: 1px solid #c7c7c7;
  box-shadow: 0 1px 0.327em 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 0.327em 0px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 768px) {
  .page-template-template-archives-php #main .fl,
  .page-template-template-sitemap-php #main .fl,
  .page-template-template-archives-php #main .fr,
  .page-template-template-sitemap-php #main .fr {
    float: none!important;
  }
}
/*-------------------------------------------------------------------------------------------*/
/* 8. MISC */
/*-------------------------------------------------------------------------------------------*/
/* 8.1 Forms */
input[type=text],
input.input-text,
textarea,
input.txt,
input[type=tel],
input[type=email] {
  color: #9a9a9a;
  background: #eeeeee;
  border: 1px solid #e1e1e1;
}
/* 8.2 Buttons (Includes WF chortcode buttons) */
a.button,
a.comment-reply-link,
#commentform #submit,
.submit,
input[type=submit],
input.button,
button.button,
#wrapper .woo-sc-button {
  background: #e0b900;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}
a.button:hover,
a.comment-reply-link:hover,
#commentform #submit:hover,
.submit:hover,
input[type=submit]:hover,
input.button:hover,
button.button:hover,
#wrapper .woo-sc-button:hover {
  background: #be9700;
  color: white;
}
a.button.red,
a.comment-reply-link.red,
#commentform #submit.red,
.submit.red,
input[type=submit].red,
input.button.red,
button.button.red,
#wrapper .woo-sc-button.red {
  border-color: #af4040;
  border-bottom-color: #9a2020;
  background: #d72323;
}
a.button.red:hover,
a.comment-reply-link.red:hover,
#commentform #submit.red:hover,
.submit.red:hover,
input[type=submit].red:hover,
input.button.red:hover,
button.button.red:hover,
#wrapper .woo-sc-button.red:hover {
  background: #d20000;
}
a.button.orange,
a.comment-reply-link.orange,
#commentform #submit.orange,
.submit.orange,
input[type=submit].orange,
input.button.orange,
button.button.orange,
#wrapper .woo-sc-button.orange {
  border-color: #af7440;
  border-bottom-color: #9a5420;
  background: #d76b23;
}
a.button.orange:hover,
a.comment-reply-link.orange:hover,
#commentform #submit.orange:hover,
.submit.orange:hover,
input[type=submit].orange:hover,
input.button.orange:hover,
button.button.orange:hover,
#wrapper .woo-sc-button.orange:hover {
  background: #d25e00;
}
a.button.green,
a.comment-reply-link.green,
#commentform #submit.green,
.submit.green,
input[type=submit].green,
input.button.green,
button.button.green,
#wrapper .woo-sc-button.green {
  border-color: #87bf00;
  border-bottom-color: #7ca122;
  background: #8dc11e;
}
a.button.green:hover,
a.comment-reply-link.green:hover,
#commentform #submit.green:hover,
.submit.green:hover,
input[type=submit].green:hover,
input.button.green:hover,
button.button.green:hover,
#wrapper .woo-sc-button.green:hover {
  background: #87c000;
}
a.button.aqua,
a.comment-reply-link.aqua,
#commentform #submit.aqua,
.submit.aqua,
input[type=submit].aqua,
input.button.aqua,
button.button.aqua,
#wrapper .woo-sc-button.aqua {
  border-color: #40af96;
  border-bottom-color: #209a82;
  background: #23d7af;
}
a.button.aqua:hover,
a.comment-reply-link.aqua:hover,
#commentform #submit.aqua:hover,
.submit.aqua:hover,
input[type=submit].aqua:hover,
input.button.aqua:hover,
button.button.aqua:hover,
#wrapper .woo-sc-button.aqua:hover {
  background: #00d2a8;
}
a.button.teal,
a.comment-reply-link.teal,
#commentform #submit.teal,
.submit.teal,
input[type=submit].teal,
input.button.teal,
button.button.teal,
#wrapper .woo-sc-button.teal {
  border-color: #23a6d6;
  border-bottom-color: #20799a;
  background: #23abd7;
}
a.button.teal:hover,
a.comment-reply-link.teal:hover,
#commentform #submit.teal:hover,
.submit.teal:hover,
input[type=submit].teal:hover,
input.button.teal:hover,
button.button.teal:hover,
#wrapper .woo-sc-button.teal:hover {
  background: #009ed2;
}
a.button.purple,
a.comment-reply-link.purple,
#commentform #submit.purple,
.submit.purple,
input[type=submit].purple,
input.button.purple,
button.button.purple,
#wrapper .woo-sc-button.purple {
  border-color: #234dd6;
  border-bottom-color: #20489a;
  background: #2356d7;
}
a.button.purple:hover,
a.comment-reply-link.purple:hover,
#commentform #submit.purple:hover,
.submit.purple:hover,
input[type=submit].purple:hover,
input.button.purple:hover,
button.button.purple:hover,
#wrapper .woo-sc-button.purple:hover {
  background: #0036d2;
}
a.button.pink,
a.comment-reply-link.pink,
#commentform #submit.pink,
.submit.pink,
input[type=submit].pink,
input.button.pink,
button.button.pink,
#wrapper .woo-sc-button.pink {
  border-color: #d623cb;
  border-bottom-color: #9a2096;
  background: #d723d5;
}
a.button.pink:hover,
a.comment-reply-link.pink:hover,
#commentform #submit.pink:hover,
.submit.pink:hover,
input[type=submit].pink:hover,
input.button.pink:hover,
button.button.pink:hover,
#wrapper .woo-sc-button.pink:hover {
  background: #bc00d2;
}
a.button.silver,
a.comment-reply-link.silver,
#commentform #submit.silver,
.submit.silver,
input[type=submit].silver,
input.button.silver,
button.button.silver,
#wrapper .woo-sc-button.silver {
  color: #444 !important;
  text-shadow: 0 1px #fff;
  border-color: #bbb;
  border-bottom-color: #999;
  background: #d8d8d8;
}
a.button.silver:hover,
a.comment-reply-link.silver:hover,
#commentform #submit.silver:hover,
.submit.silver:hover,
input[type=submit].silver:hover,
input.button.silver:hover,
button.button.silver:hover,
#wrapper .woo-sc-button.silver:hover {
  background: #ccc;
}
/* 8.3 Shortcode info boxes */
p.woo-sc-box,
div.woo-sc-box {
  color: #656565;
}
p.woo-sc-box.rounded,
div.woo-sc-box.rounded {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
p.woo-sc-box.alert,
div.woo-sc-box.alert {
  border-color: #f0baa2;
  background-color: #ffd9c8;
}
p.woo-sc-box.download,
div.woo-sc-box.download {
  border-color: #d4ebaf;
  background-color: #edfcd5;
}
p.woo-sc-box.tick,
div.woo-sc-box.tick {
  border-color: #d4ebaf;
  background-color: #edfcd5;
}
p.woo-sc-box.info,
div.woo-sc-box.info {
  border-color: #eeeeee;
  background-color: #fafafa;
}
p.woo-sc-box.note,
div.woo-sc-box.note {
  border-color: #efe3ae;
  background-color: #fef6d2;
}
p.woo-sc-box.normal,
div.woo-sc-box.normal {
  border-color: #eeeeee;
  background-color: #fafafa;
}
/* 8.5 IE specific styling */
.ie8 .widget_woo_blogauthorinfo .avatar {
  width: auto;
}
/*-------------------------------------------------------------------------------------------*/
/* 9. HOMEPAGE */
/*-------------------------------------------------------------------------------------------*/
#intro-message {
  background: #272b21;
  color: #E4E4E4;
}
#intro-message:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
#intro-message .right-section .button {
  background: #e0b900;
  font-family: "Lato", sans-serif;
}
#intro-message .right-section .button:hover {
  color: #fff;
  background: #cfa800;
}
.homepage-area .home-section {
  background: #ffffff;
  box-shadow: 0 0 5px 0 #cccccc;
  -webkit-box-shadow: 0 0 5px 0 #cccccc;
}
.homepage-area .home-section header h1 {
  border-bottom: 1px dashed #dddddd;
}
.homepage-area .widget_woothemes_testimonials .quote .testimonials-text {
  font-family: Georgia, serif;
  color: #7e7e7e;
}
.homepage-area .widget_woothemes_testimonials .quote .author {
  color: #b1b1b1;
}
#home-gallery article .post {
  box-shadow: 0 0 0 0 #888888;
  -webkit-box-shadow: 0 0 0 0 #888888;
}
#home-gallery article .post:hover:before {
  border: 1px solid #dddddd;
}
#home-gallery article .post:before {
  border: 1px solid #eeeeee;
  background: #fff;
}
.has-footer-widgets #footer-widgets {
  border-bottom: 1px dashed #778360;
}
/*-------------------------------------------------------------------------------------------*/
/* 10. WooCommerce */
/*-------------------------------------------------------------------------------------------*/
#header #header-components .cart-contents {
  color: #fff;
}
#header #header-components .cart-contents:hover {
  color: #2c3126;
}
#header #header-components .cart-contents:before {
  color: #2c3126;
}
.star-rating:before {
  color: #ccc;
}
.star-rating span:before {
  color: #a3b18d;
}
p.stars a:hover:before,
p.stars a:focus:before {
  color: #a3b18d;
}
p.stars a.active:before {
  color: #a3b18d;
}
.widget .product_list_widget li {
  border-bottom: 1px dotted #eeeeee;
}
.widget_layered_nav ul li.chosen a {
  background: #a3b18d;
  color: #fff;
}
.widget_price_filter .ui-slider .ui-slider-handle {
  background: #fff;
  border: 1px solid #a3b18d;
}
.widget_price_filter .ui-slider .ui-slider-range {
  background: #a3b18d;
}
.widget_price_filter .price_slider_wrapper .ui-widget-content {
  background: #eeeeee;
}
.woocommerce_message,
.woocommerce_info,
.woocommerce_error,
.woocommerce-message,
.woocommerce-info,
.woocommerce-error {
  border: 1px solid #eeeeee;
}
.woocommerce_message:before,
.woocommerce-message:before {
  color: #89b93f;
}
.woocommerce_info:before,
.woocommerce-info:before {
  color: #3c8bae;
}
.woocommerce_error:before,
.woocommerce-error:before {
  color: #c84e45;
}
.stock.out-of-stock:before {
  color: #c84e45;
}
.stock.in-stock:before {
  color: #89b93f;
}
.onsale {
  background: #e0b900;
  color: #fff;
}
.quantity .plus,
.quantity .minus {
  background: #e0b900;
  color: #fff;
}
.quantity .plus:hover,
.quantity .minus:hover {
  background: #be9700;
}
ul.products li.product {
  border-bottom: 2px solid #eeeeee;
}
ul.products li.product a {
  color: #4b4b4b;
}
ul.products li.product .price {
  color: #8b8b8b;
}
ul.products li.product .button {
  color: #fff;
}
ul.products li.product .button:before {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.single-product .summary .amount {
  color: #a3b18d;
}
.single-product .single_variation_wrap .price {
  color: #585858;
}
.single-product .woocommerce_tabs ul.tabs li.active a,
.single-product .woocommerce-tabs ul.tabs li.active a {
  background: #fafafa;
  border-color: 1px solid #eeeeee;
}
.single-product .woocommerce_tabs .panel,
.single-product .woocommerce-tabs .panel {
  border-color: 1px solid #eeeeee;
  background: #fafafa;
}
.order_details {
  border: 1px solid #eeeeee;
}
.order_details li {
  border-right: 1px solid #eeeeee;
  color: #e0e0e0;
}
.order_details li strong {
  color: #8b8b8b;
}
ul.digital-downloads li {
  border-bottom: 1px solid #eeeeee;
}
#reviews .comment .meta {
  color: #bebebe;
}
#payment {
  border: 1px solid #eeeeee;
}
#payment .payment_methods {
  border-bottom: 1px solid #eeeeee;
}
#payment .payment_methods li {
  border-bottom: 1px solid #eeeeee;
}
#payment .payment_methods li .payment_box {
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#f6f6f6));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #fafafa, #f6f6f6);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #fafafa, #f6f6f6);
  /* FF3.6+ */

  background-image: -ms-linear-gradient(top, #fafafa, #f6f6f6);
  /* IE10 */

  background-image: -o-linear-gradient(top, #fafafa, #f6f6f6);
  /* Opera 11.10+ */

  background-image: linear-gradient(to bottom, #fafafa, #f6f6f6);
  border-top: 1px solid #eeeeee;
}
.woocommerce-page h1.page-title {
  border-color: 1px dashed #dddddd;
}
.woocommerce-page h1.page-title a:link,
.woocommerce-page h1.page-title a:visited {
  color: #4b4b4b;
}
@media only screen and (min-width: 768px) {
  /* 3. MAIN NAVIGATION DROPDOWN MENUS (Add main navigation presentational styles here) */
  #navigation ul.nav {
    /* LEVEL 2 */
  
  }
  #navigation ul.nav > li a {
    color: #ffffff;
  }
  #navigation ul.nav > li a:hover {
    color: #2c3126;
  }
  #navigation ul.nav > li.current_page_item a,
  #navigation ul.nav > li.current_page_parent a,
  #navigation ul.nav > li.current-menu-ancestor a,
  #navigation ul.nav > li.current-cat a,
  #navigation ul.nav > li.li.current-menu-item a {
    color: #e0b900;
  }
  #navigation ul.nav > li.current_page_item li a,
  #navigation ul.nav > li.current_page_parent li a,
  #navigation ul.nav > li.current-menu-ancestor li a,
  #navigation ul.nav > li.current-cat li a,
  #navigation ul.nav > li.li.current-menu-item li a {
    color: #ffffff;
  }
  #navigation ul.nav > li.parent a:after {
    color: #2c3126;
  }
  #navigation ul.nav ul {
    background: #2c3126;
    border: 4px solid #535c47;
  }
  #navigation ul.nav ul li {
    border-bottom: 1px dashed #535c47;
  }
  #navigation ul.nav ul li a:hover {
    color: #dddddd;
  }
  #top {
    background: #566736;
    border-color: #455625;
  }
  #top ul.nav > li > a {
    border-color: #455625;
  }
  #top ul.nav li a {
    color: #fff;
  }
  #top ul.nav li.parent > a:after {
    border: 0.3em solid #2c3126;
    border-color: #2c3126 transparent transparent transparent;
  }
  #top ul.nav ul {
    background: #566736;
  }
  /* 7. Featured Slider */
  #featured-slider ul.slides li .slide-content {
    background: #677847;
    background: rgba(0, 0, 0, 0.85);
  }
  /* 8. Homepage */
  .homepage-area .widget_woothemes_testimonials .quote {
    border: 1px solid #eeeeee;
    border-width: 0 1px 0 0;
  }
}
